.chat_container{
    width:500px;
    margin:0 auto;
    background-color:#212121;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 800px;
    font-family: "Noto Sans KR", sans-serif !important;
}
.chat_container::-webkit-scrollbar{
    width: 20px;
}
.chat_container::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    border: 7px solid rgba(0,0,0,0.8);
}
.chat_container::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}
.chat_header_container{
    width:100%;
    margin:0 auto;
    text-align: center;
    padding:50px 0;
}
.chat_main_text{
    font-weight: bold;
    margin-bottom: 0;
    color:#fff;
    font-size:18px;
}
.chat_response_container{
    margin-bottom: 20px;
    text-align: left;
}
.question, .answer{
    margin-bottom: 10px;
}
.question_container{
    word-break: keep-all;
    font-weight: bold;
    color: white;
    border-radius: 16px;
    padding: 10px 20px;
    margin-left: auto;
    background-color:#5e5a5a;
    max-width: 250px;
    margin-bottom: 30px;
}
.answer_container{
    word-break: keep-all;
    font-weight: bold;
    color: white;
    font-size:16px;
}
.answer_container ul {
    padding-left:20px;
}
.question_text{
    font-size:14px;
    font-weight: 500;
    word-break: keep-all;
    margin: 0;
    text-align: left;
    white-space: pre-line;
}
.input_container{
    width:100%;
    margin:0 auto;
    padding:30px 0;
    text-align: center;
}
.chat_response_wrapper{
    padding:0 30px;
    margin-bottom: 40px;
}
.loading_container{
    width:80%;
    margin:0 auto;
    text-align: center;
}
.loading_text{
    color:white;
    opacity: 0.5;
    font-size:14px;
}
.gemini_input{
    width:85%;
    font-weight:500;
    overflow: hidden;
    transition: height 0.3s;
    resize: none;
    padding:10px;
    font-size:16px;
    border-radius: 8px;
    border:1px solid #666666;
    background-color:#212121 ;
    color:white;
}