.userInfo_container{
    display: flex;
    justify-content: center;
    margin:50px 0 100px 0;
    font-family: "Noto Sans KR", sans-serif !important;
    gap:50px;
}
.userInfo_container_header_text{
    margin:auto;
    font-size: 28px;
    font-weight: bold;
    color: rgb(66, 51, 182);
    margin-bottom: 30px;
}
.container {
    width:400px;
    background: linear-gradient(135deg, #ffffff, #f6f0fc);
    padding:30px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 0px 12px 35px rgba(120, 80, 200, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Noto Sans KR", sans-serif !important;
}
.not_edit_container{
    color: #5c5a5a;
    font-weight: bold;
    gap: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.user_form{
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input_group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.input {
    display:block;
    height:55px;
    padding:10px 10px;
    border:1px solid #c4c4c4;
    border-radius: 8px;
    background-color:#fff;
    color:#333;
    font-size: 15px;
    font-weight:bold;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing:border-box;
    width:300px;
}
.input:focus {
    border-color: #0aba16;
    outline: none;
}
.input_error {
    border-color: red;
}
.input_error:focus {
    border-color: red;
}
.check_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin:10px 0;
    white-space: pre-line;
}
.social_email{
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color:#5c5a5a;
}
.social_login_id{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-weight: bold;
    margin:10px 0 0 0;
}
.submit_button {
    width:100%;
    margin:0 auto;
    text-align: center;
    font-size:15px;
    font-weight: bold;
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    background-color: #453fb2;
    color: #ffffff;
    cursor: pointer;
}
.submit_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.duplicate_button {
    background-color: #453fb2;
    color: white;
    border: none;
    width:140px;
    padding: 15px 12px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block; 
}
.duplicate_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.edit_password_link{
    padding:20px 0;
    margin:auto;
    color:#453fb2;
    text-align: center;
    text-decoration: none;
}
